<div class="container">
    <div class="ui-g">
        <div class="card card-w-title">
            <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
                <h1>{{ headerPage }}</h1>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                    <label>Nome</label>
                    <input pInputText type="text" name="nome" [(ngModel)]="lareira.nome" #nome="ngModel" required
                        minlength="5">
                </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                    <label>Endereço</label>
                    <input pInputText type="text" name="endereco" [(ngModel)]="lareira.endereco" #endereco="ngModel"
                        required>
                </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                    <label>Bairro</label>
                    <input pInputText type="text" name="bairro" [(ngModel)]="lareira.bairro" #endereco="ngModel"
                        required>
                </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                    <label>CEP</label>
                    <input pInputText type="text" name="cep" [(ngModel)]="lareira.cep" #endereco="ngModel" required>
                </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                    <label>cidade</label>
                    <input pInputText type="text" name="cidade" [(ngModel)]="lareira.cidade" #endereco="ngModel"
                        required>
                </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                    <label>Estado</label>
                    <input pInputText type="text" name="estado" [(ngModel)]="lareira.estado" #endereco="ngModel"
                        required>
                </div>

                <div class="ui-g-12 ui-md-4 ui-fluid">
                    <label>Telefone</label>
                    <input pInputText type="text" name="telefone" [(ngModel)]="lareira.telefone" #endereco="ngModel"
                        required>
                </div>

                <div class="ui-g-12">
                    <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
                    <label for="">&nbsp;&nbsp;</label>
                    <a routerLink="/lareira">Voltar para a pesquisa</a>
                </div>
            </form>
        </div>
    </div>
</div>
