<div class="container">
    <div class="ui-g ui-fluid">
        <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

            <div class="ui-g-12 ui-lg-12 ui-md-12">
                <div class="card no-margin">
                    <h1>Lareira</h1>
                    <label>Selecione a Lareira*</label>
                    <p-dropdown placeholder="Selecione..." [autoWidth]="false" [filter]="true" [options]="lareiras"
                        [(ngModel)]="casal.lareira.idLareira" name="lareira" #lareira="ngModel" required></p-dropdown>

                    <app-message [control]="lareira" error="required" text="Informe a lareira"></app-message>
                </div>
            </div>

            <div class="ui-g-12 ui-lg-6">
                <div class="card no-margin">
                    <h1>Marido</h1>
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <label>Nome*</label>
                            <input pInputText type="text" name="maridoNome" [(ngModel)]="casal.maridoNome"
                                #maridoNome="ngModel" minlength="5">
                            <app-message [control]="maridoNome" error="required" text="Informe o nome">
                            </app-message>
                            <app-message [control]="maridoNome" error="minlength"
                                text="Mínimo de {{ maridoNome.errors?.minlength?.requiredLength }} caracteres">
                            </app-message>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <label>Sobrenome</label>
                            <input pInputText type="text" name="maridoSobrenome" [(ngModel)]="casal.maridoSobrenome">
                        </div>

                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <label>Data Nascimento</label>
                            <p-calendar name="maridoDataNascimento" dateFormat="dd/mm/yy" [inline]="false"
                                [readonlyInput]="false" [showIcon]="true" [(ngModel)]="casal.maridoDataNascimento">
                            </p-calendar>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <label>Profissão</label>
                            <input type="text" pInputText name="maridoProfissao" [(ngModel)]="casal.maridoProfissao">
                        </div>

                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <label>Fone Celular</label>
                            <input pInputText type="text" name="maridoTelCelular" [(ngModel)]="casal.maridoTelCelular">
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <label>E-mail</label>
                            <input pInputText type="text" name="maridoEmail" [(ngModel)]="casal.maridoEmail">
                        </div>

                        <div class="ui-g-12 ui-md-12 ui-fluid">
                            <label>Problema Saúde</label>
                            <textarea pInputTextarea name="maridoProblemaSaude" [(ngModel)]="casal.maridoProblemaSaude"
                                [rows]="5" [cols]="60"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g-12 ui-lg-6">
                <div class="card no-margin">
                    <h1>Esposa</h1>
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <label>Nome*</label>
                            <input pInputText type="text" name="esposaNome" [(ngModel)]="casal.esposaNome" required
                                #esposaNome="ngModel" minlength="5">
                            <app-message [control]="esposaNome" error="required" text="Informe o nome">
                            </app-message>
                            <app-message [control]="esposaNome" error="minlength"
                                text="Mínimo de {{ esposaNome.errors?.minlength?.requiredLength }} caracteres">
                            </app-message>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <label>Sobrenome</label>
                            <input pInputText type="text" name="esposaSobrenome" [(ngModel)]="casal.esposaSobrenome">
                        </div>

                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <label>Data Nascimento</label>
                            <p-calendar name="esposaDataNascimento" dateFormat="dd/mm/yy" [inline]="false"
                                [readonlyInput]="false" [showIcon]="true" [(ngModel)]="casal.esposaDataNascimento">
                            </p-calendar>
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <label>Profissão</label>
                            <input pInputText type="text" name="esposaProfissao" [(ngModel)]="casal.esposaProfissao">
                        </div>

                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <label>Fone Celular</label>
                            <input pInputText type="text" name="esposaTelCelular" [(ngModel)]="casal.esposaTelCelular">
                        </div>
                        <div class="ui-g-12 ui-md-6 ui-fluid">
                            <label>E-mail</label>
                            <input pInputText type="text" name="esposaEmail" [(ngModel)]="casal.esposaEmail">
                        </div>

                        <div class="ui-g-12 ui-md-12 ui-fluid">
                            <label>Problema Saúde</label>
                            <textarea pInputTextarea name="esposaProblemaSaude" [(ngModel)]="casal.esposaProblemaSaude"
                                [rows]="5" [cols]="60"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="card no-margin">
                    <h1>Filhos</h1>
                    <app-casal-cadastro-filho [filhos]="casal.filhos"></app-casal-cadastro-filho>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="card no-margin">
                    <div class="ui-g">
                        <div class="ui-g-1">
                            <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
                        </div>
                        <div class="ui-g-2">
                            <a routerLink="/casal">Voltar para a pesquisa</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
